body{
	text-align: center;
	background-image: url("../images/img5.jpg");
	background-size: 100%;
	height: auto; 
	font-family: Comic Sans MS;
	font-weight:bold;
	color: blue;
}




header{
	padding: 20px;
	font-size: 120px;
	width:100%;
	background-color: lightgrey;
	}
	h1{
		font-family:; 
		transform: rotate(10deg);
		color: yellow;
		font-weight: bolder;
		
	}
  	h3{ 
 		font-size: 80px;
 		font-family: Comic Sans MS;
 		color:blue;
 		margin-top:-40px;
		padding-bottom: 20px;
 		 
 	}

.container{}

#underscore{
	margin-top: 100px;
	font-size: 40px;
	
}

.guessesleft{
	font-size: 40px;
	margin-top: 75px;
	
}

.lettersguessed{
	font-size: 40px;
	margin-top:75px;
	
}

